<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forest</title>
</head>
<body>
    <form action="{{ url_for('forest') }}" method="POST">
        <h2>Atribut Kelas</h2>
        <select name="kelas" id="kelas">
            {% for element in column %}
            <option value="{{ element }}">{{ element }}</option>
            {% endfor %}
        </select>
        <h2>Normal</h2>
        <input type="text" name="normal" id="normal" value="{{ normal }}">
        <h2>Abnormal</h2>
        <input type="text" name="abnormal" id="abnormal" value="{{ abnormal }}">
        <h2>Contamination</h2><br>
        <input type="range" name="cont" value="{{ cont }}" min="1" max="100" id="inputpersen" onchange="persen(this)">
        <p id="persenan"></p>
        <h2>Number of Tree</h2><br>
        <input type="number" name="tree" value="{{ tree }}">
        <h2>Samples</h2><br>
        <input type="number" name="sample" value="{{ sample }}">
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
<script>
    var range = document.getElementById('inputpersen')
    var persenan = document.getElementById('persenan')
    // TODO: defaultnya
    range.value = 36
    persenan.innerHTML = range.value
    function persen(nilai) {
        persenan.innerHTML = nilai.value
    }
</script>
</html>